.container {
  width: 100vw;
  height: 100vh;
}

.card {
  background-color: palegreen;
  padding: 40px;
  width: 10%;
  height: 50%;
}
.role {
  padding: 50px;
  background-color: blue;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.login {
  padding: 30px;
  background-color: green;
}
.login a {
  font: 20px;
  color: white;
  font-weight: bold;
}
