body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.d-flex {
  display: flex;
}

.d-spacearound {
  justify-content: space-around;
  align-items: center;
  gap: 15%;
}

.d-center {
  justify-content: center;
  align-items: center;
}

.d-direction {
  flex-direction: column;
}
.d-start {
  justify-content: start;
  align-items: center;
}
